.game{
    position: relative;
    
}

.game .grid{
    justify-content: space-evenly;
    
}

.game .grid .col {
    background-color: rgb(255, 255, 255);
    outline: black solid 0.2rem;
    height: 10rem;

}