#theme-toolbar {
    position: absolute;
    height: 33rem;
    width: 5rem;
    top: 9.7rem;
    left: 1rem;
    border: 2px solid black;
}

#cursor-swap {
    position: absolute;
    width: 22px;
    height: 32px;
    left: 2rem;  
    top: 1rem;
    background-image: url('https://cdn.custom-cursor.com/db/2/32/pointer2.png') ;
    background-repeat: no-repeat;
}

#black-theme {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: black;
    left: 1rem;  
    top: 6rem;
    cursor: pointer;
}

#blue-theme {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: blue;
    left: 1rem;    
    top: 10rem;
    cursor: pointer;
}

#red-theme {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: red;
    left: 1rem;   
    top: 14rem;
    cursor: pointer;
}

#custom-theme-picker {
    position: absolute;
    width: 3rem;
    height: 3rem;
    background-color: black;
    left: 1rem;   
    top: 18rem;
    cursor: pointer;
}

#color-dropdown {
    position: absolute;
    /* border: none; */
    width: 3.1rem;
    height: 1rem;
    background-color: black;
    color: white;
    font-size: 20px;
    left: 1rem;   
    top: 21rem;
    cursor: pointer;
    text-align: center; 
    line-height: 0;
}

#custom-theme1, #custom-theme2, #custom-theme3  {
    position: absolute;
    width: 2.65rem;
    height: 2.8rem;
    left: 1rem;   
    top: 22rem;
    cursor: pointer;
}

.colorpick-eyedropper-input-trigger { 
    visibility: hidden;
}


#black-theme, #blue-theme, #red-theme, #custom-theme-picker, #color-dropdown {
    border: 1px solid white;
}