#time {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    /* left: 2rem; */
    font-size: 4rem;
    left: 1rem;
    width: 11rem;
    background: transparent;
    border: none;
}

#time-box {
    position: relative;
    outline: solid 0.34rem;
    width: 15rem;
    height: 5rem;
    right: 30rem;
    top: 5rem;
}

#time-title {
    position: relative;
    left: 5rem;
}

#finished-time-title {
    position: relative;
    user-select: none;
    -moz-user-select: none;
    font-size: 4rem;
    margin: 0;
    left: 2rem;
    width: 11rem;
    font-weight: 800;
}
